*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(246,248,249,255);
}
/* HEADER */
header{
    background-color: white;
    height: 80px;
}

.logo{
    width: 60px;
    display: inline;
    margin-top: 10px;
    margin-left: 25px;
}

h1{
    display: inline;
    margin-top: 10px;
    vertical-align:super;
    font-size: 50px;
    font-family: Arial, Helvetica, serif;
} 
/* FINE DELL'HEADER */
/* INIZIO DEL MAIN */
main{
    width: 1035px;
    height: 650px;
    background-color: white;
    margin-left: 17%;
    margin-top: 50px;
}

div{
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
}

.first-button{
    background-color:rgba(69,172,240,255);
    color: white;
    border: none;
    border-radius: 5px;
    width: 85px;
    height: 30px;
}

.second-button{
    background-color:white;
    color:rgba(208,213,217,255);
    border-color: rgba(208,213,217,255);
    border-radius: 5px;
    width: 110px;
    height: 30px;
}

#line{
    opacity: 10%;
}

.container-list{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    margin-top: 25px;
}

li{
    height: 30px;
    margin-top: 10px;  
}

h3{
    color: rgba(67,72,80,255);
    display: inline;
}

.entity{
    display: inline;
    font-size: 12px;
    opacity: 70%;
}

.check{
    font-size: 10px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 3px;
}

.uncheck{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

.button-blue{
    background-color:rgba(69,172,240,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}

#purple-button{
    background-color:rgba(156,114,228,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}

#lightblue-button{
    background-color:rgba(100,192,169,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}

#orange-button{
    background-color:rgba(242,158,51,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}

#fucsia-button{
    background-color:rgba(216,99,161,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}

#green-button{
    background-color:rgba(176,201,38,255);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
}
/* FINE DEL MAIN CON LE LISTE */

