*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(246,248,249,255);
}
/* HEADER */
header{
    background-color: white;
    height: 80px;
}

.logo{
    width: 60px;
    display: inline;
    margin-top: 10px;
    margin-left: 25px;
}

h1{
    display: inline;
    margin-top: 10px;
    vertical-align:super;
    font-size: 50px;
    font-family: Arial, Helvetica, serif;
} 
/* FINE DELL'HEADER */
/* INIZIO DEL MAIN */
main{
    width: 1035px;
    height: 650px;
    background-color: white;
    margin-left: 17%;
    margin-top: 50px;
}